@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.Home {
    background-image: url("./rob1.jpg");
    background-size: 180%;
    background-color: rgb(231, 200, 159);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: top;
    width: 100vw;
    height: 280vh;
    font-family: 'Libre Baskerville', serif;
}

.Parallax {
  display: flex;
  justify-content: center;
  
 
  &__content,
  &__original,
  &__bg,
  &__bg-profile {
    width: 1080px;
    height: 1280px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    
  }

  &__original {
    background-image: url("./original.png");
    opacity: 0.6;
  }

  // images need work, better quality this is just for test
  &__bg {
    background-image: url("./bgcut.png");
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    animation: colors 20s ease-in 1;
    animation-delay: 10s;

    // not shure about using the animation, might try spring or framer instead

    @keyframes colors {
        0% {
          background-color: rgba(20, 20, 19, 0.6);
        }
        20% {
            background-color: rgba(33, 36, 23, 0.6);
        }
        40% {
            background-color: rgba(25, 37, 37, 0.7);
        }
        60% {
            background-color: rgba(19, 18, 46, 0.9);
        }
        80% {
            background-color: rgba(23, 12, 27, 0.849);
        }
        90% {
            background-color: rgba(20, 16, 22, 0.76);
        }
    }
    
  }

  // images needs to be re-done for better quality this is just for test
  &__bg-profile {
    background-image: url("./profile.png");
    filter: drop-shadow(3px 3px 10px #000000) drop-shadow(2px 2px 20px #242424);
    z-index: 5;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 50%;
  }

  &__content {
    width: 1080px;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
  }

    &__heading {
      color: #fafafa;
      width: 100%;
      padding: 10px;
      align-items: center;

      &__text {
          position: absolute;
          top: 4rem;
          right: 5rem;
          z-index: 10;
          margin: 10px 0;
          font-size: 6rem;
          align-items: center;
          text-shadow: 0 0 5px rgba(0, 0, 0, .5);
      }

      &__subtitle {
        position: absolute;
        top: 0rem;
        left: 5rem;
        text-align: left;
        font-size: 4rem;
      }
    }
  }


.Parallax__text {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: transparent;
      width: 60%;
      
      font-size: 20px;
      color: #fff;
      margin-top: 12rem;
      margin-right: -20rem;
      z-index: 50;

      p {
          margin-bottom: 2rem;
          font-weight: 300;
          text-shadow: 2px 2px 4px rgba(0,0,0,0.8), 4px 4px 10px rgba(0,0,0,0.4), ;
      }
      p:nth-of-type(2) {
          max-width: 50%;
          font-weight: 300;
          text-shadow: 2px 2px 4px rgba(0,0,0,0.8), 4px 4px 10px rgba(0,0,0,0.4), ;
      }
}

.About {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1080px;
    height: 180vh;
    z-index: 50;
    top: 100vh;
    font-family: 'Libre Baskerville', serif;
    

    // glass effect
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .15);
    border-top-right-radius: 20rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 0 2px 0px white;
    background: rgba(0, 0, 0, .0125);
    overflow: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3px);

    .wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 4rem;
        justify-content: center;
        width: 100vw;
        height: 100%;
        color:rgb(35, 12, 44);
        
    }
    
}